@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@theme {
  /* font */
  --font-pretendard-bold: "PretendardBold";
  --font-pretendard-semibold: "PretendardSemiBold";
  --font-pretendard-medium: "PretendardMedium";
  --font-gmarket-sans-medium: "GmarketSansMedium";

  /* primary color */
  --color-primary: #c4d96a;
  --color-primary-pressed: #a9c92d;
  --color-primary-dark: #7e9432;
  --color-primary-light: #f3f8de;

  /* text color */
  --color-text-primary: #1a1a1a;
  --color-text-secondary: #444444;
  --color-text-muted: #888888;

  /* border color */
  --color-border: #d9d9d9;

  /* background color */
  --color-bg: #ffffff;
  --color-bg-subtle: #f5f5f5;
  --color-bg-soft: #ededed;
  --color-bg-muted: #e6e6e6;

  /* button color */
  --color-btn-secondary-pressed: #3d3d3d;
  --color-btn-secondary-text: #ffffff;
  --color-btn-secondary-text-disabled: #888888;
  --color-btn-tertiary: #f5f5f5;
  --color-btn-tertiary-pressed: #e2e2e8;
  --color-btn-disabled: #f4f4f4;
}

@layer utilities {
  .display {
    @apply text-[24px] leading-6 font-pretendard-bold;
  }
  .heading1 {
    @apply text-[20px] leading-6 font-pretendard-semibold;
  }
  .heading2 {
    @apply text-[18px] leading-6 font-pretendard-semibold;
  }
  .title {
    @apply text-[16px] leading-6 font-pretendard-semibold;
  }
  .title-tight {
    @apply text-[16px] leading-4 font-pretendard-semibold;
  }
  .body1 {
    @apply text-[16px] leading-6 font-pretendard-medium;
  }
  .body2 {
    @apply text-[14px] leading-5 font-pretendard-semibold;
  }
  .body2-tight {
    @apply text-[14px] leading-4 font-pretendard-semibold;
  }
  .body3 {
    @apply text-[14px] leading-5 font-pretendard-medium;
  }
  .body3-review {
    @apply text-[14px] leading-6 font-pretendard-medium;
  }
  .body3-tight {
    @apply text-[14px] leading-4 font-pretendard-medium;
  }
}
